In [19]:
import pandas as pd
import numpy as np
import csv

In [16]:
archivo1 = "1-Small-MoviesDetailsCleaned.csv"
archivo2 = "2-Small-MoviesCastingRaw-small.csv"

moviesDetails = pd.read_csv(archivo1,sep =";")
moviesCasting = pd.read_csv(archivo2,sep =";")

moviesDetails.head(2)

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3

In [14]:
moviesCasting.head()

,id,actor1_name,actor1_gender,actor2_name,actor2_gender,actor3_name,actor3_gender,actor4_name,actor4_gender,actor5_name,actor5_gender,actor_number,director_name,director_gender,director_number,producer_name,producer_number,screeplay_name,editor_name
0,2,Turo Pajala,0,Susanna Haavisto,0,Matti Pellonpää,2,Eetu Hilkamo,0,none,0,4,Aki Kaurismäki,0,1,none,0,Aki Kaurismäki,Raija Talvio
1,3,Matti Pellonpää,2,Kati Outinen,1,Sakari Kuosmanen,2,Esko Nikkari,2,Kylli Köngäs,0,7,Aki Kaurismäki,0,1,Mika Kaurismäki,1,Aki Kaurismäki,Raija Talvio
2,5,Tim Roth,2,Antonio Banderas,2,Jennifer Beals,1,Madonna,1,Marisa Tomei,1,24,Allison Anders,1,4,Lawrence Bender,1,none,Margaret Goodspeed
3,6,Emilio Estevez,2,Cuba Gooding Jr.,2,Denis Leary,2,Jeremy Piven,2,Peter Greene,2,15,Stephen Hopkins,2,1,Gene Levy,1,Lewis Colick,Tim Wellburn
4,8,none,0,none,0,none,0,none,0,none,0,0,Timo Novotny,0,1,Timo Novotny,2,Michael Glawogger,Timo Novotny

In [25]:
lst =[]
dialect = csv.excel()
dialect.delimiter=";"
file ="test.csv"
try:
    with open(file, encoding="utf-8") as csvfile:
        spamreader = csv.DictReader(csvfile, dialect=dialect)
        for row in spamreader:
            print("llliisiis row...", row )
            lst.append(row)
except:
    del lst[:]
    print("Se forpresento un error en la carga del archivo")

lst

llliisiis row... OrderedDict([('id', '1'), ('nombre', 'Pedro Perez'), ('telefono', '123'), ('empresa', 'Los Alpes')])
llliisiis row... OrderedDict([('id', '2'), ('nombre', 'Juan Pedro Rodriguez'), ('telefono', 'Los Montes'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '3'), ('nombre', 'Juana Rangel'), ('telefono', 'Las Sierras'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '4'), ('nombre', 'Ana Hernandez'), ('telefono', 'Los Cerros'), ('empresa', None)])

[OrderedDict([('id', '1'),
              ('nombre', 'Pedro Perez'),
              ('telefono', '123'),
              ('empresa', 'Los Alpes')]),
 OrderedDict([('id', '2'),
              ('nombre', 'Juan Pedro Rodriguez'),
              ('telefono', 'Los Montes'),
              ('empresa', None)]),
 OrderedDict([('id', '3'),
              ('nombre', 'Juana Rangel'),
              ('telefono', 'Las Sierras'),
              ('empresa', None)]),
 OrderedDict([('id', '4'),
              ('nombre', 'Ana Hernandez'),
              ('telefono', 'Los Cerros'),
              ('empresa', None)])]

In [24]:
dialect = csv.excel()
dialect.delimiter=";"
file ="test.csv"
with open(file, encoding="utf-8") as csvfile:
    spamreader = csv.DictReader(csvfile, dialect=dialect)
    for row in spamreader:
        print("llliisiis row...", row )
        lst.append(row)
lst

llliisiis row... OrderedDict([('id', '1'), ('nombre', 'Pedro Perez'), ('telefono', '123'), ('empresa', 'Los Alpes')])
llliisiis row... OrderedDict([('id', '2'), ('nombre', 'Juan Pedro Rodriguez'), ('telefono', 'Los Montes'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '3'), ('nombre', 'Juana Rangel'), ('telefono', 'Las Sierras'), ('empresa', None)])
llliisiis row... OrderedDict([('id', '4'), ('nombre', 'Ana Hernandez'), ('telefono', 'Los Cerros'), ('empresa', None)])

[OrderedDict([('id', '1'),
              ('nombre', 'Pedro Perez'),
              ('telefono', '123'),
              ('empresa', 'Los Alpes')]),
 OrderedDict([('id', '2'),
              ('nombre', 'Juan Pedro Rodriguez'),
              ('telefono', 'Los Montes'),
              ('empresa', None)]),
 OrderedDict([('id', '3'),
              ('nombre', 'Juana Rangel'),
              ('telefono', 'Las Sierras'),
              ('empresa', None)]),
 OrderedDict([('id', '4'),
              ('nombre', 'Ana Hernandez'),
              ('telefono', 'Los Cerros'),
              ('empresa', None)])]

In [30]:
for ele in lst:
    print(ele['nombre'])

Pedro Perez
Juan Pedro Rodriguez
Juana Rangel
Ana Hernandez